# -*- mode: yaml; -*-
# Time-stamp: <Sun 2022-08-21 18:33 svarrette>
################################################################################
# documentation: https://help.github.com/en/articles/workflow-syntax-for-github-actions
#
name: deploy
on:
  push:
    branches:
      - master
      - production
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.7'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          mkdocs --version
      - name: build ULHPC documentation
        run: mkdocs build && mkdocs gh-deploy --force
        # run: mkdocs build --strict && mkdocs gh-deploy --force
